*{
    box-sizing: border-box;
}

/* Global styles */

:root {
    --light-bg: #FDFDFD;
    --color-primary: #D95D51;
    --color-secondary: #374B5C;
    --color-tertiary: #2A3946; 
    --color-second-primary: #FFB301;
    --color-grey: #F3F4F6;
    --color-white: #FFFFFF;
    --color-paragraph: #73818C;
    --border-color: lightgrey;
    --transition: all 0.3s ease-in;
    --min-width: 300px;
    --font-16: 16px;
    --gap-20: 20px;
    --width-6-col: calc((100% - (var(--gap-20) * 5)) / 6);
    --width-3-col: calc((100% - (var(--gap-20) * 2)) / 3);
    --width-2-col: calc((100% - (var(--gap-20) * 1)) / 2);
    --width-1-col: calc((100% - (var(--gap-20) * 0)) / 1);
    --color-login-primary: #009BB6;
    --color-login-secundary: #009BB6;
}

body{
    margin:0;
    padding: 0;
    font-family: "Lexend Deca",sans-serif;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    display: block;
}
button {
    background-color: transparent;
}
.section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.sc-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.sc-accent {
    background-color: var(--color-grey);
}

.btn {
    display: flex;
    background-color: #CCCCCC;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 20px;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.btn i {
    margin-left: 20px;
    font-size: 15px;
}

.btn::before,
.btn::after {
    content:"";
    width: 100px;
    height: 200%;
    background-color: lightgray;
    transform: rotate(20deg);
    position: absolute;
    transition: var(--transition)
}

.btn::before {
    right: 120%;
    opacity: 0.5;
}

.btn::after {
    right: -60px;
    opacity: 0.3;
}

.btn:hover::before {
    right: -60px;
    opacity: 0.3;
}
.btn:hover::after {
    right: -160px;
    opacity: 0.3;
}
.btn:hover i {
    transform: scale(1.3);
    transition: var(--transition)
}

.btn-primary {
    background: var(--color-primary);
}

.btn-secondary {
    background: var(--color-secondary);
}
.btn-third {
    background-color: var(--color-second-primary);
    color: var(--color-tertiary);
}
button {
    cursor: pointer;
}
.title-1 {
    font-size: 36px;
    margin: 0 0 50px;
}
.title-2 {
    color: var(--color-tertiary);
}

.title-pill {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    /* color: var(--color-secondary); */
    color: #A4ADB5;
    background-color: #DFE2E6;
    font-weight:400 ;
    margin: 0 0 20px;
}
.paragraph-style-1 {
    font-size: 18px;
    line-height: 30px;
}

.paragraph-style-2 {
    color: var(--color-paragraph);
}

.multiarticle-front {
    display: block;
    text-align: center;
}
.margin-0 {
    margin: 0;
}
/* CSS for Header */
.header-wrapper {
    border-bottom: solid 1px var(--border-color);
    background-color: var(--light-bg);
}
.header {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.header-logo {
    width: 120px;
    padding: 15px 0;
}

.header a {
    color: black;
    display: flex;
    align-items: center;
}
.header-menu {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
}
.header-menu-dropdwn {
    display: flex;
    align-self: stretch;
    position: relative;
    padding: 0 20px;
}

.header-menu-dropdwn-items {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: var(--light-bg);
    min-width: 200px;
    padding: 20px 0;
    box-shadow: 0 6px 10px 0 #999;
}
.header-menu-dropdwn-items a{
    padding: 10px 20px;
    transition: var(--transition);
}
.header-menu-dropdwn-items a:hover{
    background-color: lightgrey;
}
.header-menu-dropdwn:hover .header-menu-dropdwn-items{
    opacity: 1;
    transition:  var(--transition);
    pointer-events: initial;
    z-index: 3;
}

.header-menu-dropdwn-primary::after {
    content: "";
    border: solid lightgrey;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    margin: -5px 0 0 10px;
    transition: var(--transition);
}
.header-menu-dropdwn:hover .header-menu-dropdwn-primary::after {
    border-color: grey;
    transform: rotate(225deg);
}

.header-user {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    align-items: center;
}
.header-user-primary{
    display: flex;
    flex-wrap: wrap;
}
.header-user-avatar {
    width: 50px;
    height: 50px;
    border: solid 1px lightgrey;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-user-item {
    padding: 5px 15px;
    line-height: 20px;
    margin: 10px;
    display: block;
}
.header-user-item:not(:first-of-type) {
    border-left: solid 1px lightgrey;
    margin-left: 0;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

/* End CSS for Header */

/* CSS for Filter-form */

.filter-form .newsletter-wrapper {
    max-width: none;
    /* display: flex; */
}
.filter-form-type {
    display: flex;
    flex-direction: row;
    border-radius: 10px 10px 0 0;
/* background-color: red; */
}
.filter-form-type .browse-style-item {
    min-width: 90px;
    height: 90px;
    width: 0%;
    background-color: #FBFBFD;
    /* border-radius: 10px 0 0 0; */
    position: relative;
    border-radius: 0;
}
.filter-form-type .browse-style-item:first-child {
    border-radius: 10px 0 0 0;
}
.filter-form-type .browse-style-item:last-child {
    border-radius: 0 10px 0 0;
}
.filter-form-type .browse-style-item::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 6px;
    height: 6px;
    background: var(--color-primary);
    border-radius: 50%;
    transform: translateX(-50%);
    display: none;
}
.filter-form-type .browse-style-item:hover::after {
    display: block;
}
.filter-form-type a {
    color: var(--color-tertiary);
}

.filter-form-selection-all {
    display: flex;
    background-color: var(--color-white);
    border-radius: 0 10px 10px 10px;
    padding: 30px;
    gap: 10px;
    /* width: fit-content; */
    fit-content: stretch;
}
.filter-form-selection-solely {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 900;
    /* min-width: calc((100% - 100px) / 4); */
    min-width: 200px;
    /* background-color: yellow; */
}

.filter-form-selection-all select,
.filter-form-selection-all input {
    appearance: none;
    border: 1px solid lightgrey;
    padding: 20px;
    /* width: 200px; */
    border-radius: 5px;
    color: var(--color-tertiary);
    background-color: var(--light-bg);
    font-size: 16px;
    margin-top: 10px;
}
.filter-form-selection-all button {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}
.filter-form-selection-all button::before,
.filter-form-selection-all button::after {
    display: none;
}
.filter-form-selection-all .btn i{
    margin: 0;
}

/* CSS for Handy picked */

.sc-gallery-centered {
    text-align: center;
}
.sc-gallery-nav {
    display: flex;
    justify-content: space-between;
}
.sc-gallery-nav-menu {
    display: flex;
    gap: 10px;
}
.sc-gallery-nav-browse {
    display: flex;
    gap: 10px;
}
.sc-gallery-nav-arrow {
    display: flex;
    gap: 10px;
}
.sc-gallery-nav-menu .btn::before,
.sc-gallery-nav-menu .btn::after,
.sc-gallery-nav-arrow .btn::before,
.sc-gallery-nav-arrow .btn::after {
    display: none;
}
.sc-gallery-nav-menu .btn {
    background-color: var(--color-grey);
    /* background-color: red; */
    color: var(--color-paragraph);
    padding: 15px 30px;
}
.sc-gallery-nav-menu .btn:hover {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    transition: 0.3s ease-in;
}
.sc-gallery-nav-menu .btn:focus {
    background-color: var(--color-secondary);
    color: var(--light-bg);
    border: none;
}
.sc-gallery-nav-arrow .btn {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 20px;
    /* opacity: 0.3; */
}
.sc-gallery-nav-arrow .btn:hover {
    opacity: 0.7;
    /* transition: 0.3s ease-in; */
    color: var(--color-white);
    border: none;
}
.sc-gallery-nav-arrow .btn i {
    margin: 0;
}

.sc-gallery-tile-wrapper .sc-content {
    padding-top: 0;
    display: flex;
    gap: 20px;
    overflow: hidden;
}
.sc-gallery-tile {
    min-width: 260px;
    border: 1px solid lightgrey;
    border-radius: 10px 10px 0 0;
    position: relative;
    text-align: left;
}
.sc-gallery-style-2 .sc-gallery-tile {
    min-width: 360px;
}
.sc-gallery-tile .featured::after {
    content: "Featured";
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    padding: 5px 20px;
    border-radius: 0 10px 0 10px;
    color: var(--light-bg);
    background-color: var(--color-primary);
}
.tile-img {
    border-radius: 10px 10px 0 0;
}
.tile-content {
    margin: 30px;
}
.tile-content .paragraph-style-2::before {
    font-family: "Font Awesome 6 Free";
    content: "\f3c5";
    margin-right: 10px;
    /* width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--color-primary); */
}
.sc-gallery-style-2 .sc-gallery-tile {
    border: none;
}
.sc-gallery-style-2 .tile-content {
    margin: 45px;
}
.sc-gallery-style-2 .multiarticle-front-article-header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border: none;
    justify-content: space-between;
}
.sc-gallery-style-2 .multiarticle-front-article-header .paragraph-style-2 {
    padding: 0;
    font-size: 14px;
}
.sc-gallery-style-2 .paragraph-style-2 {
    line-height: 30px;
}
.sc-gallery-style-2 .tile-content .paragraph-style-2::before {
    display: none;
}
.sc-gallery-style-2 .multiarticle-front-article-icon {
    width: 30px;
    margin-right: 10px;
}

.multiarticle-front-article-header .calendar-icon {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    background-color: var(--color-primary);
}
.engage-icons {
    padding-top: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
.engage-icons-wrapper {
    width: 30px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-tertiary);
    transition: 0.3s ease-in;
}
.engage-icons-wrapper:hover {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}
.tile-content-views {
    margin-left: auto;
    margin-right: auto;
}
.tooltip {
    position: relative;
    display: inline-block;
  }
.tooltip-text {
    display: none;
    min-width: 130px;
    background-color: var(--color-tertiary);
    color: var(--color-white);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 5;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}
.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
  .tooltip:hover .tooltip-text {
    display: block;
}
.sc-gallery-nav .title-1{
    margin: auto 0;
    text-align: left;
}


/* Start CSS for Search/Browse */
.browse .famous {
    padding-top: 0;
}
.browse {
    display: block;
    text-align: center;
}

.browse-style {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.browse a{
    text-decoration: none;
    font-weight: 700;
    color: black;
}
.browse-style-item {
    width: 165px;
    height: 180px;
    background-color: #FDFDFE;
    box-shadow: 1px 1px 0 lightgrey, -1px -1px 0 lightgrey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: var(--transition);
}
.browse-style-item-img{
    width: 60px;
    margin-bottom: 10px;
}

.browse-style-item:hover {
    background-color: white;
    box-shadow: 0 0 1px lightgrey, 0px 0px 1px lightgrey;
}
.browse-find {
    color: var(--color-primary);
    text-align: center;
}

/* CSS for Search/Browse */

/* Start CSS for About Us */

.about-wrapper {
    background-color: #FDFDFE;
}
.about {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 100px;
}
.about-left {
    flex: 1 1 35%;
    position: relative;
    overflow: hidden;
}
.about-left-trophy {
    position: absolute;
    bottom: 100px;
    right: 0;
    background-color: #FDFDFF;
    width: 180px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
}
.about-left-trophy-picture {
    width: 60px;
    margin-bottom: 10px;
}

.about-left-trophy .about-left-trophy-p{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.about-main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex: 2 1 55%;
    text-align: left;
}
.about-main h1 {
    color:#374B5C;
}
.about-main p{
    color: #A0A9B1;
}
.about-left-trophy::before {
    content: "";
    position: absolute;
    /* width: 180px;
    height: 196px; */
    background-color: lightgrey;
    /* opacity: 0.7; */
    border-radius: 10px;
    /* box-shadow: 0 0 0 10px lightgrey; */
}

/* Start CSS for Guide */

.guide {
    max-width: 95%;
    margin: 0 auto;
    position: relative;
}
.multiarticle-bgimage {
    position: absolute;
    width: 100%;
    height: 615px;
    z-index: -1;
}
.multiarticle-bgimage img{
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.multiarticle-bgimage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: var(--color-secondary);
    opacity: 0.7;
}
.guide .multiarticle-front {
    margin-top: 100px;
}
.guide .multiarticle-front .title-pill {
    color: var(--color-white);
    background-color: #374B5C;
}

.multiarticle-front .title-1 {
    width: 80%;
    font-size: 60px;
    color: var(--color-white);
    margin: auto;
}
.multiarticle .btn{
    margin: 30px auto;
}
.multiarticle-front-article-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 100px auto 50px auto;
}
.multiarticle-front-article {
    min-width: 300px;
    max-width: 30%;
    min-height: 200px;
    padding: 30px 45px;
    border-radius: 10px;
    background-color: var(--light-bg);
    border: 1px solid var(--color-secondary);
}
.multiarticle-front-article-icon {
    display: inline-block;
    width: 60px;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
.multiarticle-front-article-icon img{
    /* max-width: 100%; */
    max-height: 100%;
}
/* .multiarticle-front-article p {
    color: #73818C;
} */

/* Start CSS for reviews */

.reviews{
    /* background-color: var(--color-grey); */
    padding-top: 100px;
}

.reviews .multiarticle-front-article {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.multiarticle-front-article-header {
    position: relative;
    padding: 20px 20px 20px 50px;
    border-bottom: 1px solid grey;
}
.reviews .multiarticle-front-article-icon {
    position: absolute;
    top: 20px;
    left: 50px;
}
.multiarticle-front-article-header h4, .multiarticle-front-article-header p {
    margin: 0;
    padding: 0 0 10px 80px;
    text-align: left;
}
.reviews .multiarticle-front-article {
    min-height: 400px;
    border-radius: 5px;
}
.multiarticle-front-article-content {
    text-align: left;
    padding: 20px 50px;
    position: relative
}
.rating-digits-first, .rating-digits-second {
    color: var(--color-primary);
}
.multiarticle-front-article-content-wrapper {
    display: flex;
    position: absolute;
    top: -30px;
    right: 30px;
    height: 60px;
    width: 60px;
    border: 1px solid grey;
    border-radius: 50%;
    background-color: var(--light-bg);
}
.multiarticle-front-article-content-rating{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

/* Start CSS for sc-overlap */
.sc-overlap {
    position: relative;
}
.sc-overlap-pics-first {
    right: 0;
    height: 80%;
    z-index: 1;
    border: 10px solid rgba(243, 244, 246, 0.3);
}


.sc-overlap-pics-second,
.sc-overlap-pics-first {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 30px;
    width: auto;
}
.sc-overlap-pics-second {
    height: 90%;
    right: -100px;
    border: 10px solid transparent;
}
.sc-overlap-main {
    display: block;
    position: relative;
}
.newsletter-wrapper {
    max-width: 500px;
    z-index: 2;
    position: relative;
}
.newsletter-wrapper .title-pill {
    color:var(--color-secondary);
}
.newsletter-wrapper .title-1 {
    font-size: 60px;
    color: var(--color-tertiary);
}
.newsletter-wrapper .paragraph-style-1{
    color: #73818C;
}
.newsletter-form {
    position: relative;    
    display: flex;
    width: 100%;
    padding: 15px;
    border-radius: 0 100px 100px 0;
    box-shadow: 0 0 5px lightgrey;
    background-color: white;
}
.newsletter-form-email {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 15px 15px 15px 60px;
    width: 100%;
    line-height: 30px;
    font-size: 16px;
    color:black;
}

.newsletter-form::before {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    font-size: 16px;
    border-radius: 5px;
    background-color: lightgrey;
    font-family: "Font Awesome 6 Free";
    content: "\40";
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.newsletter-form-email input:focus {
    outline: none;
}
.newsletter-form-email::placeholder {
    font-family: "Lexend Deca",sans-serif;
    font-size: 16px;
    color:var(--color-tertiary);
    opacity: 0.7;
}
.newsletter-form .btn {
    align-items: right;
    border-radius: 0px 100px 100px 0;
    margin-left: 20px;
}
.newsletter-form .btn i {
    font-size: 20px;
    margin-left: 0;
}
.newsletter-form .btn::before,
.newsletter-form .btn::after {
    display: none;
}

/* CSS for Footer */

.footer-wrapper {
    background-color: var(--color-tertiary);
}
.footer {
    display: flex;
    gap: 30px;
}
.footer-contact {
    padding: 30px 100px 50px 0;
    flex-grow: 1;
}
.contact{
    display: flex;
    flex-direction: column;
}
.contact-icon {
    display: flex;
    line-height: 30px;
    align-items: center;
    color: var(--light-bg);
}
.contact-icon a {
    color: var(--light-bg);
}
.contact .contact-icon::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
    background-color: var(--color-primary);
}
.contact .contact-phone::before {
    font-family: "Font Awesome 6 Free";
    content: "\f3cf";
}
.contact .contact-location::before {
    font-family: "Font Awesome 6 Free";
    content: "\f3c5";
}
.contact .contact-email::before {
    font-family: "Font Awesome 6 Free";
    content: "\40";
}
.footer-social-media {
    color: var(--light-bg);
}
.social-media-icon {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    padding-top: calc(50px / 2 - 16px /2);
    color: var(--light-bg);
    cursor: pointer;
}
.social-media-icon:hover {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    transition: 0.3s ease-in;
}
.selection {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
    color: var(--light-bg);
}
.selection-listing {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 100px;
    color: var(--light-bg);
    transition: none;
}
.selection-listing .new-listing a:hover {
    color: var(--light-bg);
}
.selection a,
.selection-listing a {
    color: var(--light-bg);
    transition: 0.3s ease-in;
}
.selection a:hover {
    color: var(--color-primary);
}
.new-listing {
    position: relative;

}
.new-listing-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.new-listing-img img {
    border-radius: 5px;
}
.new-listing .selection-listing-content {
    margin: 5px 0 0 70px;
}

/* CSS for Copyright */
.copyright {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #26343F;
    color: var(--light-bg);
}

/* ------------------------------- */

/* CSS for second page */
/* Start CSS for breadcrumbs */

.breadcrumbs {
    display: flex;
    padding: 25px 30px;
    align-items: center;
}
.breadcrumbs .social-media {
    margin-left: auto;
}
.breadcrumbs .social-media-icon {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    padding-top: calc(50px / 2 - 16px /2);
    color: var(--color-tertiary);
}
.second-page .social-media-icon:hover {
    color: var(--color-second-primary);
    border: 1px solid var(--color-second-primary);
    transition: 0.3s ease-in;
}

/* CSS for Listing */

.listing {
    max-width: 1400px;
    margin: auto;
    padding: 30px;
}
.listing .section {
    display: flex;
}
.listing-location {
    display: flex;
    align-items: center;
    gap: 10px;
}
.listing-location i {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-second-primary);
}
.listing .section a,
.listing-price-calculator {
    color: var(--color-second-primary);
}
.listing-price {
    margin-left: auto;
    text-align: right;
}
.listing-price-calculator {
    display: flex;
    align-items: center;
    gap: 10px;
}
.listing-gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: 640px 300px 300px;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.listing-gallery-pic1 {
    grid-row: 1 / 3;
}
.listing-gallery-pic {
    width: 300px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listing-gallery-pic img {
    height: 100%;
    border-radius: 10px;
}
.listing-gallery .listing-gallery-pic:first-of-type {
    width: 640px;
    height: auto;
} 
.listing-gallery .listing-gallery-pic:last-of-type {
    position: relative;
}
.listing-gallery .btn::before,
.listing-gallery .btn::after {
    display: none;
}
.listing-gallery-pic .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    font-size: 16px;
}

/* CSS for Content */

.content-wrapper {
    display: flex;
    gap: 20px;
    flex-direction: row;
    /* margin-bottom: 50px; */
}
.content-subwrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content-main {
    display: flex;
    flex-direction: column;
    /* width: auto; */
    border-radius: 10px;
    border: 1px solid lightgrey;
    padding: 50px;
    background-color: var(--color-white);
}
.content-main-description .paragraph-blue{
    margin-top: 30px;
}
.content-main-description .paragraph-blue:last-of-type {
    margin-bottom: 30px;
}
.content-main-description .video {
    width: 100%;
    height: 400px;
}

.content-main-attachment {
    display: flex;
    gap: 20px;
}
.content-main-attachment .attachment {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    /* background-color: red; */
    border: 1px solid var(--color-grey);
    color: var(--color-tertiary);
}
.attachment .attachment-pic {
    width: 25px;
}
.content-main-form-style1 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.content-form {
    padding: 10px;
    border: 1px solid var(--color-paragraph);
    border-radius: 5px;
    background-color: var(--color-white);
}
.content-form input {
    padding: 10px;
    border: none;
    font-size: 16px;
}
.content-form i {
    width: 20px;
    height: 20px;
    background-color: var(--color-grey);
    transform: rotateY(180deg);
}
.content-main-form-style2 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin: 30px 0;
}
.content-main-form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    border: 1px solid var(--color-paragraph);
    border-radius: 5px;
    padding: 30px 20px;
}
.paragraph-blue {
    color: #4B8A99;
}
.content-main-form2:last-child {
    background-color: var(--color-secondary);
    color: white;
}
.color-white {
    color: white;
}
.content-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0;
    font-size: 12px;
}
.sidebar-wrapper {
    padding: 30px 20px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    width: 100%;
}
.content-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    position: sticky;
    top: 0;
}
.content-sidebar-profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    /* width: 100%; */
}
.profile-pic {
    width: 100px;
}
.content-sidebar-profile a {
    color: var(--color-secondary);
}
.content-sidebar-profile h2 {
    margin-bottom: 0;
}
.content-sidebar-profile span {
    margin-bottom: 30px;
}
.content-sidebar-profile span::before{
    width: 20px;
    height: 20px;
    background-color: var(--color-primary);
    font-family: "Font Awesome 6 Free";
    content: "\f3c5";
    margin-right: 10px;
}
.content-sidebar-profile .btn,
.content-sidebar-message .btn {
    border-radius: 50px;
}
.content-sidebar-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.content-sidebar-contact-button button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: none;
    width: 100%;
}
.content-sidebar-contact-button .hidden-phone span::after {
    content: "********";
    color: var(--color-second-primary);
}
.content-sidebar-contact-button .hidden-phone i:last-of-type{
    margin-left: auto;
    padding: 20px;
    background-color: var(--color-second-primary);
    border-radius: 50%;
}
.content-sidebar-contact-button a,
.content-sidebar-contact-button i {
    color: var(--color-tertiary);
}
.content-sidebar-contact-button .contact-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid var(--color-paragraph);
    /* background-color: var(--color-primary); */
}
.content-sidebar-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.content-sidebar-message-wrapper {
    width: 100%;
}
.content-sidebar-message textarea {
    color: #4B8A99;
    border: none;
    resize: vertical;
    margin-bottom: 20px;
    width: 100%;
    height: 150px;
}
.content-sidebar-follow {
    display: flex;
    gap: 10px;
    color: var(--color-tertiary);
    justify-content: center;
}
.content-sidebar-follow .social-media-icon {
    color: var(--color-tertiary);
    /* border: 1px solid red; */
}
.content-sidebar-follow .social-media-icon:hover {
    color: var(--color-second-primary);
    border: 1px solid var(--color-second-primary);
}
/* CSS for Gallery second page */

.gallery-style-3 .sc-gallery-nav-menu .btn{
    border-radius: 25px;
    background-color: #537CD9;
    /* background-color: #6E8FDF; */
    color: var(--color-white);
}
.gallery-style-3 .sc-gallery-nav-menu .btn:hover {
    color: var(--color-white);
    border: none;
    background-color: #6E8FDF;
    transition: 0.3s ease-in;
}
.gallery-style-3 .sc-gallery-nav-menu .btn:focus {
    background-color: #537CD9;
    color: var(--color-white);
    border: none;
}
.gallery-style-3 .btn{
    border-radius: 50%;
    color: var(--color-second-primary);
}
.location-icon {
    padding: 5px;
    border-radius: 50%;
    color: var(--color-tertiary);
    background-color: var(--color-second-primary);
    margin-right: 10px;
}
.gallery-style-3 .multiarticle-front-article-header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border: none;
    gap: 10px;
    /* justify-content: space-between; */
}
.gallery-style-3 .multiarticle-front-article-header h4 {
    margin-right: auto;
}
.gallery-style-3 .multiarticle-front-article-icon {
    width: 50px;
}

/* CSS for Footer second page */
.footer-wrapper.second-page {
    background-color: var(--color-tertiary);
}
.second-page .contact .contact-icon::before {
    background-color: var(--color-secondary);
}

/* CSS for Copyrigth second page */
.copyright.second-page {
    background-color: var(--color-secondary);
}

/* CSS for third page */

.content-main-description {
    position: relative;
}
.content-main-description-img {
    position: absolute;
    top: -50px;
    left: -50px;
    width: calc(100% + 100px);
    height: 500px;
    border-radius: 10px 10px 0 0;
}
.content-main-description-imgdate {
    margin-top: 460px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.move-right {
    margin-left: auto;
}
.content-main-description-quote {
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 30px 20px;
}
.content-main-description-quote p:first-child {
    color: white;
}
.content-main-description-quote p:last-child {
    color: #F6ADA8;
    margin-top: 40px;
}
.lorem-list {
    list-style-type: none;
}
ul li::before {
    content: "\26AC";
    color: var(--color-primary);
    font-weight: 900;
    font-size: 20px;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  .content-main-user {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .content-main-user-profile {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10px;
  }
  .content-main-user .social-media-icon {
    color: var(--color-tertiary);
    border: 1px solid lightgrey;
  }
.content-main-user .engage-icons-wrapper {
    border: none;
    margin-top: auto;
    margin-bottom: auto;
}
.content-main-user .social-media-icon:hover {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}
.content-main-user .tooltip {
    position: relative;
    display: inline-block;
  }
.content-main-user .tooltip-text {
    min-height: 30px;
    top: 120%;
}
.content-main-user .tooltip .tooltip-text::after {
    top: -10px;
    transform: rotateX(180deg);
}
.content-main-user .move-right {
    display: flex;
    gap: 30px;
}
.content-main-user-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.user-skills-button {
    border: 1px solid #DFE2E6;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
}
.user-skills-button:first-child {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}
.content-main-comments-solely .content-main-user-profile{
    text-align: left;
    align-items: center;
    margin: 20px 0;
}
.content-main-comments-solely:last-of-type {
    margin-bottom: 0;
}
.commnets-after {
    display: flex;
    align-items: center;
}
.commnets-after::after {
    content: "4";
    padding: 3px 15px;
    font-size: 16px;
    border-radius: 15px;
    margin-left: 15px;
    color: var(--color-white);
    background-color: var(--color-primary);
}
.profile-user-data h4,
.profile-user-data p {
    margin: 10px;
}
.comment-indent {
    margin-left: 50px;
}
.move-right button {
    border: none;
}
.reply-button:hover {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    cursor: pointer;
}
.sc-comments {
    text-align: center;
}
.sc-comments-form {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    text-align: left;
}
.sc-comments-form textarea {
    resize: vertical;
    width: 100%;
}
.sc-comments-form textarea,
.sc-comments-form span {
    background-color: var(--color-grey);
    border: 1px solid var(--color-paragraph);
    border-radius: 5px;
    padding: 20px;
    font-size: 16px;
    font-family: "Lexend Deca",sans-serif;
}
.sc-comments-form input {
    border: none;
    padding-left: 10px;
    background-color: var(--color-grey);
}
.sc-comments-form input:focus,
.sc-comments-form textarea:focus {
    outline: none;
}

.sc-comments-form textarea::placeholder,
.sc-comments-form input::placeholder {
    color: var(--color-tertiary);
}
.sc-comments-form input[type=checkbox] {
    width: 40px;
    height: 40px;
    background-color: red;
}
.item1 {
    grid-column: 1 / 3;
}
.item2 {
    grid-column: 1 / 3;
}
.item3 {
    grid-column: 1 / 2;
}
.item4 {
    grid-column: 2 / 3;
}
.item5 {
    grid-column: 1 / 2;
    display: flex;
    gap: 10px;
}
.item6 {
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.item-before::before {
    content: "\40";
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: var(--color-white);
}
/* .item2::before {
    content: "\40";
} */
.item3::before {
    content: "\40";
}
.item4::before {
    content: "\40";
}

/* CSS for sidebar third page */

.content-sidebar-search.sidebar-wrapper {
    padding: 0;
}
.content-sidebar-search {
    background-color: var(--color-white);
    /* width: 100%; */
    display: flex;
}
.content-sidebar-search input{
    border: none;
    background-color: var(--color-white);
    margin-left: 20px;
}
.content-sidebar-search input::placeholder {
    color: var(--color-tertiary);
    font-size: 16px;
}
.content-sidebar-search input:focus {
    outline: none;
}
.sidebar-search-button {
    padding: 10px;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 0 10px 10px 0;
    margin-left: auto;
}

.content-sidebar-categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    /* width: 100%; */
}
.categories-button {
    text-align: left;
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    display: flex;
}
.categories-button::after {
    content: "5";
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: var(--color-paragraph);
    margin-left: auto;
}

body {
    counter-reset: button;
}
/* .content-sidebar-categories button::before {
    content: attr(data-count);
} */

.content-sidebar-popular {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content-sidebar-popular-tile {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.popular-tile-img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}
.popular-tile-description {
    display: flex;
    flex-direction: column;

}
.popular-tile-description h4 {
    margin-top: 0;
}
.popular-tile-description p {
    margin: 0;
    display: flex;
    gap: 10px;
    align-items: center;
}
.popular-tile-description .calendar-icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--color-primary);
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}
.content-sidebar-tag.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: var(--color-white);
}
.content-sidebar-tag h4{
    border-bottom: 1px solid grey;
    padding: 0 20px 20px;
    margin-bottom: 0;
}
.content-sidebar-tag-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}
.tag-pill {
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--color-grey);
    /* background-color: grey; */
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.tag-pill:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* Catalog */

/* .main-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
} */
.main-wrapper {
    display: flex;
    margin: 0 10px;
}
.sideform {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 25%;
    min-width: 320px;
    padding: 30px 20px 0;
    border-right: 1px solid var(--color-grey);
    box-shadow: 3px 0 10px -3px rgba(31,27,45,0.2);
}
.sideform__selection-filter {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.selection-filter__wrapper {
    padding-bottom: 30px;
    display: inherit;
    flex-direction: inherit;
}
.sideform__selection-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    border-bottom: 1px solid var(--color-grey);
}
.for-btn {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--color-grey);
}
.for-btn:first-child:before {
    content: "\e9f1";
}
.for-btn:last-child:before {
    content: "\e98c";
}
.selection-filter__range {
    display: flex;
    flex-direction: row;
}
.slection-filter__checkbox {
    display: flex;
    flex-direction: column;
}
.overflow-auto {
    height: 100px;
    overflow-x: auto;
}
.selection-filter__label {
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 15px;
}
.selection-filter__range {
    justify-content: center;
    padding-top: 20px;
}
.selection-filter__text {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    height: 50px;
    padding: 10px;
    min-width: 100px;
}
.selection-filter__text::placeholder {
    font-size: 16px;
}
.selection-filter__dash {
    margin: auto 5px;
}
.selection-filter__radio-align {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    border-radius: 10px;
    position: relative;
}
/* .selection-filter__btn {
    border: 1px solid var(--border-color);
    padding: 5px;
    font-size: var(--font-16);
    flex: 1 1 auto;
} */


.feature-radio {
    position: absolute;
    display: none;
}
.selection-filter__btn {
    border: 1px solid var(--border-color);
    padding: 10px 15px;
    text-align: center;
    /* flex: 1 1 auto; */
    cursor: pointer;
}
.selection-filter__btn:first-of-type {
    border-radius: 5px 0 0 5px;
}
.selection-filter__btn:last-of-type {
    border-radius: 0 5px 5px 0;
}
#bathrooms .selection-filter__btn {
    /* flex: 1 1 50%; */
}
.filter-buttons {
    border-top: 1px solid var(--border-color);
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
.filter-buttons__submit {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 900;
    flex: 1 1 auto;
}
.filter-buttons__reset::before {
    content: "\f021";
}

/* Content */

.catalog {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.gallery-header {
    display: flex;
    flex-direction: row;
}
.gallery-header__mapview {
    margin-left: auto;
    align-self: center;
    color: var(--color-primary);
}
.sorting {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.dropdown-sort-menu {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
}

.arrow-icon {
    padding: 5px;
}
.sorting-result {
    margin-left: auto;
}
.sorting-result-number::before {
    content: attr(data-results);
}
.gallery-rent-wrapper {
    display: flex;
    gap: var(--gap-20);
    flex-wrap: wrap;
}
.gallery-rent-tile {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    width: var(--width-3-col);
    border-radius: 10px;
    border: 1px solid var(--border-color);
}
.rent-tile__img {
    display: flex;
    justify-content: center;
    /* width: 300px; */
    max-height: 150px;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    position: relative;
}
/* .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
} */
.badge-verified::after {
    position: absolute;
    top: 10px;
    left: 10px;
    content: "Verified";
    padding: 5px 10px;
    color: white;
    background-color: green;
    border-radius: 5px;
}
.badge-featured::after {
    position: absolute;
    top: 10px;
    left: 10px;
    content: "Featured";
    padding: 5px 10px;
    background-color: red;
    border-radius: 5px;
    color: white;
}
.badge-new::after {
    position: absolute;
    top: 10px;
    left: 10px;
    content: "New";
    padding: 5px 10px;
    background-color: blue;
    border-radius: 5px;
    color: white;
}
.rent-tile__content {
    padding: 10px 30px;
}
.rent-tile__content p {
    text-overflow: ellipsis;
}
.paragraph-orange {
    color: var(--color-primary);
}
.rent-tile__content--longdesc p {
    font-size: 14px;
}
.paragraph-lenght {
    overflow: hidden;
    block-size: 50px;
}
.longdesc-price::before {
    content: "\e1f3";
    margin-right: 10px;
}
.rent-tile__content--shortdesc {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    color: var(--color-paragraph);
    padding: 20px 0 10px 0;
    border-top: 1px solid var(--border-color);
}
.shortdesc-facilities {

}
.shortdesc-facilities::before {
    content: attr(data-facilities);
    margin-right: 5px;
}
.pagination {
    display: flex;
    gap: var(--gap-20);
    align-items: center;
    border-top: 1px solid var(--border-color);
    padding-top: 30px;
}
.pagination-btn {
    border: none;
    font-size: var(--font-16);
}

/* Log In */


.container-login-wrapper {
    margin: auto;
}
.container-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 100vw;
    height: 100vh;
}
.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 100px 50px;
}
.login-form {
    /* padding: 50px 20px 0; */
    display: flex;
    flex-direction: inherit;
    gap: 30px;
}
.sc-login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: var(--font-16);
}
.login-input {
    padding: 10px 10px 15px 0;
    border-style: none none solid none;
    border-bottom: 1px solid var(--border-color);
}
.login-input::placeholder {
    font-size: 14px;
    color: var(--border-color);
}
.login-form-password {
    position: relative;
}
.login-form-password .see-pass{
    position: absolute;
    right: 0;
    bottom: calc(15px + (var(--font-16) / 2));
    color: var(--border-color);
}
.login-keepme {
    display: flex;
    align-items: center;
}
.login-keepme .paragraph-style-2 {
    margin-left: 10px;
}
.login-agree-label {
    color: var(--border-color);
}
.login-forgot {
    margin-left: auto;
    color: var(--color-login-secundary);
}
.login-btn {
    font-size: var(--font-16);
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-login-primary);
    color: var(--color-white);
}
.register-account {
    align-self: center;
}
.register-link {
    color: var(--color-login-secundary);
}
.login-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    position: relative;
    padding: 10% 10% 10% 0;
}
.login-welcome::before {
    content: "";
    position: absolute;
    min-height: 100%;
    width: 70%;
    top: 0;
    right: 0;
    background-color: var(--color-login-primary);
    z-index: -1;
}
.login-welcome-dev {
    display: flex;
    flex-direction: column;
    gap: 100px;
    position: relative;
    height: 100%;
    padding: 80px;
}
.login-welcome-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.login-welcome-bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
}
.login-welcome-social {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: auto;
}
.login-welcome-social .social-media-icon {
    width: 30px;
    height: 30px;
    padding-top: calc(30px / 2 - 16px /2);
}
.login-welcome-social-fb {
    background-color: blue;
}
.login-welcome-social-tw {
    background-color: lightblue;
}
.login-welcome-social-gplus {
    background-color: red;
}
.login-welcome-social-in {
    background-color:#6E8FDF;
}
.login-welcome-social-yt {
    background-color: red;
}

/* Register -> acelasi CSS ca la Log In */

/* Profile */

.header-wrapper.profile {
    padding: 10px 0;
}
.profile .header-user {
    margin-right: 40px;
}
.header-use-profile-pic {
    border-radius: 50%;
}
.header-user-account-btn {
    border: none;
    font-size: var(--font-16);
    color: var(--color-secondary);
}
.btn-listing-profile {
    display: flex;
    gap: 15px;
    padding: 10px 15px;
    font-size: var(--font-16);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--color-secondary);
}
.profile-wrapper .breadcrumbs {
    display: flex;
    padding: 30px 0;
}
.profile {
    display: flex;
    flex-direction: column;
    padding: 0 20px 50px;
}
.profile__picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    position: relative;
}
.profile__picture--round {
    border-radius: 50%;
}
.btn-profile-picture {
    font-size: var(--font-16);
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    background-color: var(--border-color);
    position: absolute;
    bottom: -30px;
    display: flex;
    gap: 10px;
}
.profile__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.profile__form-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    /* background-color: red; */
    padding: 20px;
}
.profile__form--input {
    width: var(--width-2-col);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    /* background-color: red; */
}
.profile__form--input-box {
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}
.profile__form--input-box::placeholder {
    font-size: var(--font-16);
    color: var(--color-paragraph);
    vertical-align:top;
}
.profile__form--input-box:focus {
    /* outline: none; */
}
.input-box-tall {
    height: 150px; 
    resize: vertical;
}
.span-2-col {
    flex: 0 0 100%;
}
.profile__submit {
    display: flex;
    gap: 10px;
}
.profile__submit--btn {
    padding: 15px 40px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    font-size: var(--font-16);
    color: var(--color-paragraph);
}
.profile__submit--btn-save {
    background-color:#2F90FA;
    color: var(--color-white);
}
.profile__submit--btn-save:hover {
    background-color: #1470EF;
}

/* Add Listing */
.addlisting {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px 50px;
}

.addlisting .profile__form-wrapper {
    border: 1px solid var(--border-color);
    border-radius: 10px;
}
.profile__tags {
    display: flex;
    flex-direction: column;
}
.profile__tags--title {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.toggle-switch {
    width: 60px;
    height: 30px;
    margin-left: auto;
}
.profile__tags--items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.fake-upload-button {
    cursor: pointer;
}
.sper-sa-mearga {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: #F1F4F7;
}
.fake-title {
    margin-bottom: 0;
}
.fake-browse-button {
    padding: 15px;
    border-radius: 10px;
    color: var(--color-white);
    background-color: #1470EF;
}
.input-display-none {
    display: none;
}
.layout-3-cols {
    width: var(--width-3-col);
}
.profile__tags--items-solely {
    display: flex;
    width: var(--width-6-col);
    gap: 5px;
    align-items: center;
}
.separation-wrapper .dropdown-sort-menu {
    width: 100%;
}
.schedule-design {
    display: flex;
    align-items: flex-end;
    width: 100%;
    gap: 50px;
}
.dropdown-large-padding {
    padding: 15px 20px;
}

/* All Listings */

.all-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.admin-aside {
    gap: 30px;
    background-color: #1D2939;
    padding: 30px;
    /* alte solutii posibile cu JS */
    height: 1000px;
    overflow: auto;
    position: sticky;
    top: 0;
}
.btn-addblog-wrapper {
    margin-left: auto;
}
.admin-aside__nav-logo {
    align-items: center;
    justify-content: center;
    gap: var(--gap-20);
    color: var(--color-white);
}
.admin-aside__nav-logo--pic {
    width: 30px;
    height: 30px;
}
.admin-aside__nav-menu {
    gap: 10px;
}
.admin-aside__nav-menu--item {
    font-size: var(--font-16);
    gap: 10px;
    padding: 10px;
    align-items: center;
    border: none;
    border-radius: 5px;
    color: var(--color-white);
}
.admin-aside__nav-menu--item:hover {
    color: #537CD9;
    background-color: #344054;
}
.svg-dim {
    width: 20px;
    height: 20px;
}
.admin-aside__nav-menu--profile {
    padding-top: 50px;
    align-items: center;
    color: white;
}
.admin-aside__nav-menu--profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.btn-addblog {
    display: flex;
    gap: 20px;
    padding: 15px 20px;
    background-color: #6E8FDF;
    color: var(--color-white);
}
.search-bar {
    display: flex;
}
.search-bar__display {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: auto;
}
.search-bar__form--input {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    /* background-color: red; */
}
.table-listings {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}
.table-listings__head th{
    padding: 10px;
    background-color: #F1F4F7;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
.table-listings__row td {
    border-bottom: 1px solid var(--border-color);
}
.table-listings__head th {
    position: relative;
}
.data-sorter {
    color: var(--color-paragraph);
}
.data-sorter::before,
.data-sorter::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    right: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    opacity: 0.2;
}
.data-sorter::before {
    border-top: 4px solid #000;
    bottom: 5px;
}
.data-sorter::after {
    border-bottom: 4px solid #000;
    border-top: 4px solid transparent;
    top: 5px;
}
.table-cell {
    padding: 10px;
}
.body-column-image {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.cell-flex {
    display: flex;
    gap: 20px;
    align-items: center;
}
.review-star {
    color: #EAB308;
}
.table-btn {
    border: none;
}

/* Media query */

/* Media query index */

@media (max-width: 1024px) {
    .header-menu,
    .header-user-primary,
    .header-user .btn,
    .sc-overlap-pics-second {
        display: none;
    }
    .sc-gallery {
        overflow: hidden;
    }
    .filter-form.sc-overlap {
        position: relative;
    }
    .sc-overlap-pics-first {
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
        border: none;
        border-radius: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        object-fit: cover;
    }
    /* .sc-overlap {
        background-image: url("https://demo5.listivotheme.com/wp-content/uploads/2022/06/hero_1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    } */
    .sc-overlap::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(41, 47, 85, 0.5);
        top: 0;
        left: 0;
        position: absolute;
    }
    .filter-form .newsletter-wrapper {
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
    }
    .newsletter-wrapper .title-1 {
        color: var(--color-white);
    }
    .filter-form-type {
        justify-content: center;
    }
    .filter-form-selection-all {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .filter-form-selection-all .btn {
        margin: 0 auto;
    }

    .newsletter-wrapper .paragraph-style-1 {
        color: var(--color-white);
    }

    .about {
        justify-content: center;
    }
    .about-left {
        flex: 0 0 55%;
    }

    /* .sc-overlap-main.sc-overlap-second {
        background-image: url("https://demo5.listivotheme.com/wp-content/uploads/2022/06/newsletter_1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    } */
    .sc-overlap-second .newsletter-wrapper,
    .sc-overlap-third .newsletter-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }
    .sc-overlap-second .newsletter-wrapper .title-pill,
    .sc-overlap-third .newsletter-wrapper .title-pill {
        align-self: center;
    }

    .footer {
        display: grid;
        grid-template-columns: 50% 50%;
        /* flex-direction: column; */
        align-items: center;
    }
    .footer .footer-contact {
        text-align: center;
        padding: 30px;
        grid-column: 1 / 3;
    }
    .footer .footer-contact .header-logo{
        display: inline-block;
    }
    .footer .footer-contact .contact-icon {
        display: block;
    }
    .contact .contact-location::before,
    .contact .contact-icon::before,
    .contact .contact-icon::before {
        display: none;
    }
    .selection {
        gap: 0;
        min-width: 40%;
    }
    .selection-title {
        text-align: center;
    }
    .selection a {
        display: flex;
        border-top: 1px dashed lightgrey;
        padding: 20px;
    }
    .selection a:last-child {
        border-bottom: 1px dashed lightgrey;
    }
    .selection a::after {
        content: "\203A";
        margin-left: auto;
        color: grey;
    }
    .footer .selection-listing {
        grid-column: 1 / 3;
        text-align: center;
        margin-left: 0;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .footer .selection-listing h4 {
        grid-column: 1 / 3;
    }
    .selection-listing .new-listing-img {
        position: static;
        display: block;
        margin: 0 auto;
        width: 50px;
        height: 50px;
    }
    .new-listing .selection-listing-content {
        margin: 4px 0;
    }

    /* Second page */
    .sc-content {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .breadcrumbs {
        display: none;
    }
    .listing .section,
    .content-main {
        font-size: 0.8em;
    }
    .listing .section{ 
        padding-left: 0;
        padding-right: 0;
    }
    .listing-gallery {
        gap: 10px;
        grid-template-columns: 50% 25% 25%;
    }
    .listing-gallery .listing-gallery-pic:first-of-type {
        width: 100%;
        height: 100%;
    }
    .listing-gallery-pic {
        width: 100%;
        height: 105px;
    }
    .listing-gallery-pic .btn {
        display: none;
    }
    .content-wrapper {
        flex-direction: column;
    }
    .content-main {
        font-size: 0.8em;
    }
    .maps-location,
    .video {
        width: 100%;
        height: 450px;
    }
    .content-main-form-style2 {
        grid-template-columns: auto;
    }
    .content-main-form-style2 .reverse1 {
        grid-row-start: 3;
    }
    .content-main-form-style2 .reverse2 {
        grid-row-start: 2;
    }
    .content-main-form-style2 .reverse3 {
        grid-row-start: 1;
    }
    .content-sidebar-contact-button .hidden-phone i:last-of-type {
        padding: 10px;
    }
    .content-sidebar-message-wrapper,
    .sc-comments-form {
        width: 100%;
    }
    .content-sidebar-message-wrapper textarea,
    .sc-comments-form textarea {
        width: inherit;
        height: 200px;
    }

    /* Catalog */
    .sideform {
        display: none;
    }
    .gallery-rent-tile {
        width: var(--width-2-col);
    }

    /* Add Listing */

    .profile__form--input {
        width: var(--width-1-col);
    }
    .profile__tags--items-solely {
        width: var(--width-3-col);
    }
}

@media (max-width: 768px) {
    .section {
        /* max-width:80%; */
    }
    .header.section.section,
    .sc-overlap-second.section {
        max-width: 100%;
    }
    .filter-form .newsletter-wrapper {
        max-width: 400px;
    }
    .browse-style {
        /* padding: 15%; */
    }
    .about-left {
        flex: 0 0 100%;
    }
    .about-left-trophy {
        bottom: -30px;
        right: 50px;
        border-radius: 10px;
    }
    .guide {
        max-width: 100%;
    }
    .multiarticle-front .title-1 {
        font-size: 2em;
    }
    .sc-gallery-nav .title-1 {
        font-size: 1.5em;
    }
    .sc-gallery-nav-browse .btn-primary {
        display: none;
    }
    .newsletter-wrapper .title-1 {
        font-size: 2em;
    }
    .footer .selection {
        grid-column: 1 / 3;
    }
    .footer .selection-listing .new-listing {
        grid-column: 1 / 3;
    }

    /* Second page */
    .sc-content {
        padding: 20px 50px;
    }
    .listing .section {
        flex-direction: column;
    }
    .listing-price {
        margin-left: 0;
        text-align: left;
    }
    .listing-gallery {
        grid-template-columns: 50% 50%;
    }
    .listing-gallery-pic1 {
        grid-column: 1 / 3;
    }
    .listing-gallery-pic {
        width: auto;
        height: auto;
    }
    .maps-location,
    .video {
        width: 100%;
        height: 300px;
    }
    .content-main .title-2 {
        /* text-align: center; */
    }
    .content-main-form-style1 {
        grid-template-columns: auto;
    }

    /* Third page */

    .sc-comments-form {
        display: flex;
        flex-direction: column;
    }
    .sc-comments-form .item6 {
        justify-content: center;
    }

    /* Catalog */

    .gallery-rent-tile {
        width: var(--width-1-col);
    }


    /* Log In */
    .container-login {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .login-wrapper {
        padding: 0 50px;
    }
    .login-welcome {
        grid-row: 1;
        padding: 5%;
    }
    .login-form {
        padding: 0 100px;
    }
    .login-welcome::before {
        content: "";
        position: absolute;
        min-height: 100%;
        width: 30%;
    }
    .login-welcome-dev {
        padding: 50px 30px;
    }

    /* Add Listing */

    .profile__tags--items-solely {
        width: var(--width-1-col);
    }
}

